@import '../../scss/mixins';


.blog-list {
  &--main-list {
    background-color: #00aeef;
  }
  &--main-list & {
    &__inner {
      @include container-styles;
      padding: 0;
      max-width: 1160px;
      flex-direction: column;
      background: #ffffff;
    }
  }
}