include ../../modules/box-header/box-header
include ../../modules/blog-list-card/blog-list-card

mixin blog-list()
    .blog-list
        +box-header(
            'Блог',
            'Почитайте наш блог и вы сможете найти много полезной и практической информации'
        )
        .blog-list__inner
            +blog-list-card('./../../assets/blog_preview.jpg', 'Сколько стоит рекламный ролик?', '«Сколько стоит видеоролик?» — это один из первых вопросов, который задаёт клиент, обращаясь в видеопродакшн.')
            +blog-list-card('./../../assets/blog_preview.jpg', 'Сколько стоит рекламный ролик?', '«Сколько стоит видеоролик?» — это один из первых вопросов, который задаёт клиент, обращаясь в видеопродакшн.')
            +blog-list-card('./../../assets/blog_preview.jpg', 'Сколько стоит рекламный ролик?', '«Сколько стоит видеоролик?» — это один из первых вопросов, который задаёт клиент, обращаясь в видеопродакшн.')
            +blog-list-card('./../../assets/blog_preview.jpg', 'Сколько стоит рекламный ролик?', '«Сколько стоит видеоролик?» — это один из первых вопросов, который задаёт клиент, обращаясь в видеопродакшн.')
        +box-button('Посмотреть все статьи')