mixin working-card(number, title, description)
    .working-card(data-aos!=attributes.aos data-aos-delay!=attributes.delay)
        .working-card__number= number
        .working-card__title= title
        .working-card__description!= description