mixin blog-list-card(preview, title, description)
    .blog-list-card(data-aos!=attributes.aos data-aos-delay!=attributes.delay).swiper-slide
        a(href="#")
            img(src=preview).blog-list-card__preview
            .blog-list-card__info
                .blog-list-card__info-title= title
                .blog-list-card__info-description= description
