include ../project-card/project-card
include ../../modules/box-header/box-header
include ../../modules/box-button/box-button

mixin projects-list(title, description, isNotPortfolio)
    .projects-list
        +box-header(
            title,
            description
        )
        .projects-list__inner
            +project-card
            +project-card
            +project-card
            +project-card
            +project-card
            +project-card
            +project-card
            +project-card
        if isNotPortfolio
            +box-button('Все работы', 'dark')