.make-good-video {
  padding-bottom: 150px;
  background: #00aeef;
  @media screen and (max-width: 768px){
    padding-bottom: 90px;
  }
  & .box-header {
    & h2 {
      color: #ffffff;
    }
    & p {
      color: #ffffff;
      opacity: 0.70;
    }
  }
}