include ../../modules/box-header/box-header
include ../../modules/box-button/box-button

mixin make-good-video(title, description)
    .make-good-video
        +box-header(
            title,
            description
        )
        +box-button('Заполнить заявку', 'light', true)(aos="fade-zoom-in" delay="700")
