include ../../modules/behind-scenes-card/behind-scenes-card
include ../../modules/box-header/box-header

mixin behind-scenes()
    .behind-scenes
        +box-header(
            'За кадром',
            'Еще больше фотографий со съемок смотрите в нашем <a href="https://www.instagram.com/">Instagram</a>'
        )
        .swiper-container.m--default-swipper
            .behind-scenes__inner(data-aos="fade-zoom-in" data-aos-delay="900").swiper-wrapper
                +behind-scenes-card("../../assets/hleb.jpg")
                +behind-scenes-card("../../assets/berezka.jpg")
                +behind-scenes-card("../../assets/hleb.jpg")
                +behind-scenes-card("../../assets/berezka.jpg")
                +behind-scenes-card("../../assets/hleb.jpg")
                +behind-scenes-card("../../assets/berezka.jpg")
                +behind-scenes-card("../../assets/hleb.jpg")
                +behind-scenes-card("../../assets/berezka.jpg")
            div.swiper-button-next
            div.swiper-button-prev