@import '../../scss/mixins';

.behind-scenes {
  &__inner {
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 768px) {
      display: block;
      flex: none;
      flex-wrap: nowrap;
    }
  }
}