@import './../../node_modules/normalize.css';

// common
@import "../modules/main-menu/main-menu";
@import "../modules/box-header/box-header";
@import "../modules/common/social-links/social-links";
@import "../modules/common/footer/footer";
@import "../scss/capture-popup";

// services
@import "../modules/services-list/services-list";
@import "../modules/service-card/service-card";

// projects
@import "../modules/projects-list/projects-list";
@import "../modules/project-card/project-card";

// working-list
@import "../modules/working-list/working-list";
@import "../modules/working-card/working-card";

// behind-scenes
@import "../modules/behind-scenes/behind-scenes";
@import "../modules/behind-scenes-card/behind-scenes-card";

// blog-list
@import "../modules/blog-list/blog-list";
@import "../modules/blog-list-card/blog-list-card";

// make-good-video
@import "../modules/make-good-video/make-good-video";

// box-button
@import "../modules/box-button/box-button";

@import "../modules/calculating-form/calculating-form";

// Blog
@import "../pages/blogListPage/blogListPage";
@import "../modules/blog-card/blog-card";

// projectPage
@import "../pages/projectPage/projectPage";

// inner-page
@import "./inner-page";

@import "../pages/homePage/homePage";
@import "../pages/portfolioPage/portfolioPage";

body {
  font-family: 'Montserrat', Arial, sans-serif;
  //font-family: 'Ubuntu', Arial, sans-serif;
  //font-family: 'Rubik', Arial, sans-serif;
  //font-family: 'Fira Sans', Arial, sans-serif;
  //font-family: 'Roboto', Arial, sans-serif;
  //font-family: 'Noto Sans JP', Arial, sans-serif;
  //font-family: 'Prompt', sans-serif;
  -webkit-font-smoothing: antialiased;
  & * {
    box-sizing: border-box;
  }
}

@font-face {
  font-family: 'swiper-icons';
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #ffffff;
}

// projects-swipper
.swiper-container.m--projects-swipper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
  &--blog-list {
    height: auto;
    margin-bottom: 20px;
  }
  &:before {
    content: "";
    width: 67px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(0,0,0,.2) 0%, rgba(0,0,0,0) 100%);
    z-index: 9;
  }
  &:after {
    content: "";
    width: 67px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(270deg, rgba(0,0,0,.2) 0%, rgba(0,0,0,0) 100%);
    z-index: 9;
  }
  &.m--hide-swipper-arrows {
    & .swiper-button-prev,
    & .swiper-button-next,
    &:before,
    &:after {
      content: none;
      display: none;
    }
  }

  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
  }
  .swiper-container-android .swiper-slide,
  .swiper-wrapper {
    transform: translate3d(0px, 0, 0);
  }
  .swiper-slide {
    display: flex;
    align-items: center;
  }
  :root {
    --swiper-navigation-size: 44px;
    /*
    --swiper-navigation-color: var(--swiper-theme-color);
    */
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
  }
  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
  }
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: 10px;
    right: auto;
  }
  .swiper-button-prev:after,
  .swiper-container-rtl .swiper-button-next:after {
    content: 'prev';
  }
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
  }
  .swiper-button-next:after,
  .swiper-container-rtl .swiper-button-prev:after {
    content: 'next';
  }
  .swiper-button-prev.swiper-button-white,
  .swiper-button-next.swiper-button-white {
    --swiper-navigation-color: #ffffff;
  }
  .swiper-button-prev.swiper-button-black,
  .swiper-button-next.swiper-button-black {
    --swiper-navigation-color: #000000;
  }
  .swiper-button-lock {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  @font-face {
    font-family: 'swiper-icons';
    src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  :root {
    --swiper-theme-color: #ffffff;
  }
  .swiper-container {
    width: 100%;
    height: 380px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    /* Fix of Webkit flickering */
    z-index: 1;
    &--blog-list {
      height: auto;
      margin-bottom: 20px;
    }
    &:before {
      content: "";
      width: 67px;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      background: linear-gradient(90deg, rgba(0,0,0,.2) 0%, rgba(0,0,0,0) 100%);
      z-index: 9;
    }
    &:after {
      content: "";
      width: 67px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background: linear-gradient(270deg, rgba(0,0,0,.2) 0%, rgba(0,0,0,0) 100%);
      z-index: 9;
    }
  }
  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
  }
  .swiper-container-android .swiper-slide,
  .swiper-wrapper {
    transform: translate3d(0px, 0, 0);
  }
  .swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  :root {
    --swiper-navigation-size: 44px;
    /*
    --swiper-navigation-color: var(--swiper-theme-color);
    */
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
  }
  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
  }
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: 10px;
    right: auto;
  }
  .swiper-button-prev:after,
  .swiper-container-rtl .swiper-button-next:after {
    content: 'prev';
  }
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
  }
  .swiper-button-next:after,
  .swiper-container-rtl .swiper-button-prev:after {
    content: 'next';
  }
  .swiper-button-prev.swiper-button-white,
  .swiper-button-next.swiper-button-white {
    --swiper-navigation-color: #ffffff;
  }
  .swiper-button-prev.swiper-button-black,
  .swiper-button-next.swiper-button-black {
    --swiper-navigation-color: #000000;
  }
  .swiper-button-lock {
    display: none;
  }
}

.art-board {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  min-height: 550px;
  height: 100vh;
  background-color: #00aeef;
  &__background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &--inner-page {
    flex-direction: column;
  }
  &--blog-list-page {
    height: 75vh;
  }
  &--blog-page & {
    &__wrapper {
      max-width: 1200px;
      padding: 0 20px;
    }
    &__title {
      margin: 0;
      line-height: 1.17;
      padding: 24px 0 38px 0;
      letter-spacing: .5px;
      max-width: 760px;
      @media screen and (min-width: 1201px) {
        font-size: 72px;
      }
    }
    &__info {
      max-width: 760px;
      margin: 0;
      padding: 0 0 30px 0;
      line-height: 1.5;
      font-size: 24px;
    }
  }
  &--inner-page & {
    &__title {
      text-align: center;
    }
    &__info {
      margin: 0;
    }
    &-bottom {
      justify-content: center;
    }
    &__arrow {
      position: static;
      margin: 6% 0;
    }
    &__wrapper {
      padding-top: 5%;
    }
  }
  &-links {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3%;
    @media screen and (max-width: 900px) {
      max-width: 600px;
      margin-bottom: 60px;
      padding: 0 15px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    &__link {
      font-size: 22px;
      line-height: 1.45;
      font-weight: 400;
      margin: 0 2px;
      color: #ffffff;
      text-decoration: none;
      border-bottom: 1px solid #ffffff;
      @media screen and (max-width: 768px) {
        font-size: 18px;
        border-bottom: none;
        text-decoration: underline;
      }
    }
  }
  &-bottom {
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px) {
      align-items: center;
      flex-direction: column-reverse;
    }
  }
  &-header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    &__inner {
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      padding: 5px 0;
      height: 15vh;
      min-height: 65px;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__logo {
      width: 200px;
      position: relative;
      z-index: 10;
      & img {
        width: 100%;
      }
    }
  }
  &__wrapper {
    width: 100%;
    max-width: 910px;
    padding: 0 15px;
    position: relative;
    z-index: 5;
  }
  &__title {
    color: #ffffff;
    font-size: 25px;
    line-height: 1.15;
    text-align: center;
    font-weight: 500;
    @media screen and (min-width: 769px) {
      font-size: 48px;
      text-align: left;
    }
    @media screen and (min-width: 1201px) {
      font-size: 84px;
    }
  }
  &__button {
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 55px;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 500;
    border-width: 2px;
    border-radius: 15px;
    border-color: #ffffff;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
    &:hover {
      background-color: #ffffff;
      color: #1154d9;
    }
  }
  &__info {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    opacity: 0.75;
    margin-left: 30px;
    @media screen and (max-width: 768px) {
      font-size: 12px;
      text-align: center;
      margin: 0 0 35px;
    }
    @media screen and (max-width: 1200px) {
      font-size: 16px;
    }
  }
  &__arrow {
    position: absolute;
    left: 50%;
    bottom: 30px;
    margin-left: -20px;
    width: 40px;
    height: 37px;
    & img {
      display: block;
      width: 100%;
    }
  }

}

// wordpress contact form 7
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
  width: 100%;
  max-width: 960px;
  background: #f95d51;
  border: none !important;
  padding: 10px 10px 20px !important;
  text-align: center;
  margin: 20px auto !important;
  color: #fff;
  font-size: 20px;
  line-height: 1.55;
}

span.wpcf7-not-valid-tip {
  padding: 5px !important;
}