@import '../../../scss/mixins';

.footer {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #202020;
  &__inner {
    @include container-styles;
    max-width: 1060px;
  }
  &-info {
    color: #ffffff;
    font-size: 22px;
    line-height: 1.55;
    &__company {
      font-weight: 500;
    }
    &__contacts {
      & a {
        color: #ffffff;
        text-decoration: none;
        border-bottom: 1px solid #ffffff;
      }
      & p {
        margin: 0;
        font-weight: 400;
      }
    }
  }
}