@import '../../../scss/mixins';

.footer {
  padding: 150px 0;
  background-color: #202020;
  @media screen and (max-width: 768px){
    padding: 90px 0;
  }
  &__inner {
    @include container-styles;
    max-width: 1060px;
  }
  &-info {
    color: #ffffff;
    font-size: 22px;
    line-height: 1.55;
    @media screen and (max-width: 768px){
      font-size: 18px;
    }
    &__company {
      font-weight: 500;
    }
    &__contacts {
      & a {
        color: #ffffff;
        text-decoration: none;
        border-bottom: 1px solid #ffffff;
      }
      & p {
        margin: 0;
        font-weight: 400;
      }
    }
  }
}