include ../../common/social-links/social-links

mixin footer()
    .footer
        .footer__inner
            +social-links
            .footer-info
                .footer-info__company izhvideo production
                .footer-info__contacts
                    p
                        | <a href="tel:+79199131936">+7 (919) 913-19-36</a><br>
                        | Izhvideoproduction@gmail.com