@import '../../scss/mixins';

.calculating-form {
  @media screen and (max-width: 900px) {
    padding: 0 15px;
  }
  &-errors {
    @include container-styles;
    max-width: 960px;
    background: #F95D51;
    padding: 10px 10px 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    @media screen and (max-width: 900px) {
      max-width: 600px;
    }
    &__text {
      color: #ffffff;
      font-size: 20px;
      line-height: 1.55;
      padding-top: 10px;
    }
  }
  &__container {
    padding-bottom: 150px;
    background: #00aeef;
    @media screen and (max-width: 768px){
      padding-bottom: 90px;
    }
  }
  &__inner {
    @include container-styles;
    max-width: 960px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    @media screen and (max-width: 900px) {
      max-width: 600px;
      padding: 0;
      flex-direction: column;
    }
  }
  &__column {
    width: 25%;
    padding-right: 20px;
    &:last-child {
      padding-right: 0;
    }
    @media screen and (max-width: 900px) {
      width: 100%;
      padding: 0;
      margin-bottom: 25px;
    }
  }
  &__input {
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    margin: 0;
    height: 60px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 1.33;
    width: 100%;
    border: 0 none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -webkit-appearance: none;
  }
  &__submit {
    outline: none;
    text-align: center;
    width: 100%;
    font-size: 16px;
    height: 60px;
    white-space: nowrap;
    cursor: pointer;
    color: #ffffff;
    border: 2px solid #ffffff;
    background-color: #00aeef;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    font-weight: 500;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    &:hover {
      background-color: #ffffff !important;
      color: #00aeef !important;
      border-color: #ffffff !important;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1) !important;
    }
  }
  &__politics {
    margin-top: 30px;
    font-size: 15px;
    line-height: 1.55;
    text-align: center;
    color: #ffffff;
    @media screen and (max-width: 900px) {
      max-width: 600px;
      margin: 30px auto 0;
    }
    & a {
      color: #ffffff;
    }
  }
}