.art-board {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  min-height: 550px;
  height: 100vh;
  background-color: #1154D9;
  &-bottom {
    display: flex;
    align-items: center;
  }
  &-header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    &__inner {
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      padding: 5px 0;
      height: 15vh;
      min-height: 65px;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__logo {
      width: 200px;
      & img {
        width: 100%;
      }
    }
  }
  &__wrapper {
    width: 100%;
    max-width: 880px;
  }
  &__title {
    color: #ffffff;
    font-size: 84px;
    line-height: 1.15;
    font-weight: 500;
  }
  &__button {
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 55px;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 500;
    border-width: 2px;
    border-radius: 15px;
    border-color: #ffffff;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
    &:hover {
      background-color: #ffffff;
      color: #1154d9;
    }
  }
  &__info {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    opacity: 0.75;
    margin-left: 30px;
  }
  &__arrow {
    position: absolute;
    left: 50%;
    bottom: 30px;
    margin-left: -20px;
    width: 40px;
    height: 37px;
    & img {
      display: block;
      width: 100%;
    }
  }
}

.portfolio {
  &-list {
    &__card {
      &-name {
        font-size: 36px;
        line-height: 1.35;
        font-weight: 500;
        color: #ffffff;
        word-break: break-word;
      }
      &-description {
        font-size: 16px;
        line-height: 1.55;
        font-weight: 400;
        color: #ffffff;
        margin-top: 20px;
      }
    }
  }
}