mixin project-card()
    a(href="#").project-card
        .project-card__image-container
            img(src="../../assets/hleb.jpg").project-card__image
        .project-card__gradient
        .project-card__extra
            .project-card__name Тестовое название
            .project-card__description Тестовое описание

