mixin main-menu(title, description)
    .main-menu
        ul
            li
                a(href="#") Работы
            li
                a(href="#") Услуги
            li
                a(href="#") Стоимость
            li
                a(href="#") Контакты
            li
                a(href="#") Блог