.behind-scenes-card {
  width: 25%;
  height: 25vw;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @media screen and (max-width: 1200px) {
    width: 50%;
    height: 50vw;
  }
  @media screen and (max-width: 768px) {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
  }
  &__preview {
    height: 100%;
    width: auto;
    &-container {
      transform: translate(-50%, -50%);
      position: absolute;
      left: 50%;
      top: 50%;
      min-width: 110%;
      height: 110%;
    }
  }
}